.bottom {
  position: absolute;
  bottom: 0;
}

.bg-light {
  background-color: #f3e9f1 !important;
}

.btn-light {
  background-color: #f3e9f1 !important;
}

.text-dark {
  color: black !important;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.justify-evenly {
  justify-content: space-evenly;
}